##
 # Reusable standardised Java workflow to automate testing, dependency patching,
 # and release publishing.
 #
 # This workflow can be called from workflows in other repos with:
 # ```
 # jobs:
 #   <job-id>:
 #     uses: brightsparklabs/github-actions/.github/workflows/java.yml@<version>
 #     secrets: inherit
 #     permissions:
 #       contents: write
 #       pull-requests: write
 # ```
 # See https://docs.github.com/en/actions/using-workflows/reusing-workflows#creating-a-reusable-workflow
 # ______________________________________________________________________________
 #
 # Maintained by brightSPARK Labs.
 # www.brightsparklabs.com
 ##

name: Java Workflow
on:
  # This workflow will run when called by another workflow.
  workflow_call:
    inputs:
      os:
        description: A JSON string containing the list of operating systems to run Gradle build on.
        default: '["ubuntu-latest"]'
        required: false
        type: string
      java_version:
        description: The JDK version to use.
        default: "17"
        required: false
        type: string

jobs:
  # Run tests.
  call-test-gradle-build-workflow:
    # Prevent unnecessary duplicate test runs.
    if: |
      (github.event_name == 'push' && github.actor != 'dependabot[bot]') ||
      (github.event_name == 'pull_request' && github.actor == 'dependabot[bot]')
    strategy:
      matrix:
        os: ${{ fromJson(inputs.os) }}
    uses: ./.github/workflows/test-gradle-build.yml
    with:
      os: ${{ matrix.os }}
      java_version: ${{ inputs.java_version }}
  # Auto-merge Dependabot PRs for patch and minor updates.
  call-dependabot-auto-merge-workflow:
    if: ${{ github.event_name == 'pull_request' && github.actor == 'dependabot[bot]' }}
    # Specify that this job should only run if the test job succeeds.
    needs: call-test-gradle-build-workflow
    # These permissions are required for Dependabot to merge the PR.
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/dependabot-auto-merge.yml
    # Since all of our workflows are called from the same organisation, we can use the `inherit`
    # keyword to pass secrets to the called workflow.
    secrets: inherit
  # Does a dry run of publishing the artifact when on `release/` branches.
  dry-run-publish:
    if: ${{ github.event_name == 'push' && startsWith(github.ref_name, 'release/') }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Fix tag
        # Workaround actions/checkout bug. See:
        # - https://github.com/actions/checkout/issues/290
        # - https://github.com/actions/checkout/issues/882
        if: github.ref_type == 'tag'
        run: git fetch -fv origin tag ${{ github.ref_name }}
      - name: Set up JDK ${{ inputs.java_version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ inputs.java_version }}
          distribution: "temurin"
          cache: "gradle"
      - name: Dry run publish package
        run: |
          mkdir -p ~/.gradle
          ./gradlew -i clean jreleaserDeploy --dryrun
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.PGP_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.PGP_SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
  # Publish pushes to the `master` branch.
  publish-to-maven-central:
    if: ${{ github.event_name == 'push' && github.ref_name == 'master' }}
    needs: call-test-gradle-build-workflow
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Fix tag
        # Workaround actions/checkout bug. See:
        # - https://github.com/actions/checkout/issues/290
        # - https://github.com/actions/checkout/issues/882
        if: github.ref_type == 'tag'
        run: git fetch -fv origin tag ${{ github.ref_name }}
      - name: Set up JDK ${{ inputs.java_version }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ inputs.java_version }}
          distribution: "temurin"
          cache: "gradle"
      - name: Publish package
        run: |
          mkdir -p ~/.gradle
          ./gradlew -i publishToMavenCentral
        env:
          ORG_GRADLE_PROJECT_signingKey: ${{ secrets.PGP_SIGNING_KEY }}
          ORG_GRADLE_PROJECT_signingPassword: ${{ secrets.PGP_SIGNING_PASSWORD }}
          ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
